# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Certificate files
*.cer
*.crt
*.pem
*.p12
*.pfx

# Environment variables file
.env

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work
go.work.sum

# temporary files
/tmp
